

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body {
    font-family:sans-serif;
}


.products{
    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    margin: 0 auto;
    margin-top: 100px;
    gap: 1.875rem;
    padding-bottom: 40px;
}

.product {
    display: flex;
    width: 200px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    border: 1px solid beige;
    border-radius: 8px;
}

.produtc__title {
    color:darkslategrey;
}

.product__price {
    text-align: center;
    padding: 10px;
    font-weight: 600;
}

.product__image {
    width: 160px;
    height: 160px;
    border-radius: 8px;
    margin-bottom: 5px;
}


.product__add {
    width: 140px;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
}


.product__add :hover {
background-color: darksalmon;
color: darkgray;
}

.cart__sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100px;
    background-color: blanchedalmond;
    box-shadow: -2px 0 5px color black;
    transition: right 0.3s ease;
    padding: 20px;
    z-index: 1000;
}

.cart__sidebar--open {
    right: 0;
}

.cart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
 .cart__title {
    color: saddlebrown;
    font-size: 1.5rem;
    font-weight: bold;
 }

 .cart__close {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    color: black;
    z-index: 1002;
 }

 .cart__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
 }


 .cart__itemPrice {
    font-weight: bold;
    margin-top: 10px;
 }

 .cart__span {
    font-weight: bold;
 }

 .cart__handleQuantity {
    width: 80px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: beige;
    color: antiquewhite;
 }

 .cart__delete {
    width: 60px;
    height: 30px;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: brown;
    color: antiquewhite;
    border-radius: 8px;
 }

 .cart__totalPrice {
    font-weight: bold;
    margin-top: 20px;
 }

 .cart__checkout {
    display: block;
    width: 100%;
    padding: 10px;
 }

.cart__checkout {
    color: antiquewhite;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}
.cart__checkout :hover {
    background-color: darkgray;
    color: antiquewhite;
}


.cart__wrapper {
    position: relative;
    display: inline-block;
}


.cart__openButton {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: brown;
    color: antiquewhite;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 10001;
}


.cart__openButton :hover{
    background-color: darkgray;
}


.cart__item-count {
    position: absolute;
    top: 10px;
    right: 10px;
}

.cart__item-count {
    color: antiquewhite;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10001;
}
.cart__increase,
.cart__decrease,

.cart__remove {
    background-color: burlywood;
    padding: 5px;
    border: 1px solid beige;
    border-radius: 4px;
    cursor: pointer;
}

.cart__increase :hover,
.cart__decrease :hover, 

.cart__remove :hover {
    background-color: blanchedalmond;
    color: darkgray;
}


